.item-card {
  display: flex;
  flex-direction: column;
  img {
    width: 237px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    border: 0.7px solid hsla(0, 0%, 31%, 1);
    box-shadow: 0px 4px 4px 0px hsla(0, 0%, 0%, 0.25);
  }

  p {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: hsla(0, 0%, 0%, 1);

    &:last-child {
      color: hsla(0, 0%, 50%, 1);
    }
  }
}

.item-card-smaller {
  display: flex;
  gap: 10px;
  img {
    width: 64px;
    height: 81px;
    object-fit: cover;
  }

  .item-card-smaller-info {
    display: flex;
    flex-direction: column;
    p {
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      margin: 0;
    }
    span {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
    }
  }
}
