.shop-page {
  display: flex;
  flex-direction: column;
  .shop-page-header {
    display: flex;
    flex-direction: column;
    height: 303px;
    align-items: center;
    justify-content: center;

    .shop-page-header-title {
      font-size: 60px;
      font-weight: 700;
      line-height: 90px;
      text-align: center;
      color: hsla(0, 0%, 32%, 1);
      position: relative;

      &::before {
        content: '';
        position: absolute;
        width: calc(100% - 40px);
        height: 1px;
        background-color: hsla(221, 15%, 29%, 1);
        bottom: 0px;
        left: 20px;
      }
    }
  }

  .shop-page-must-have {
    padding: 80px;
    display: flex;
    gap: 80px;
    width: 100%;
    justify-content: center;
    align-items: center;

    a {
      .item-card {
        img {
          width: 289px;
          height: 366px;
        }
      }
    }
  }
  .shop-page-categories {
    padding: 80px;
    display: flex;
    gap: 80px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: hsla(199, 23%, 81%, 0.4);

    a {
      img {
        width: 215.33px;
        height: 287.11px;
        object-fit: contain;
      }
    }
  }

  .shop-page-cta {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px;
    border-bottom: 1px solid hsla(0, 14%, 80%, 1);

    .shop-page-cta-box {
      box-shadow: 0px 4px 4px 0px hsla(0, 0%, 0%, 0.25);
      background: hsla(0, 0%, 90%, 1);
      width: 1114px;
      height: 199px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px;
      .shop-page-cta-box-info {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .shop-page-cta-box-info-title {
          font-size: 36px;
          font-weight: 500;
          line-height: 54px;
          text-align: left;
          color: hsla(22, 64%, 47%, 1);
        }
        .shop-page-cta-box-info-cta {
          display: flex;
          align-items: center;
          gap: 20px;

          input {
            min-width: 360px;
          }

          button {
            background: hsla(22, 64%, 47%, 1);
            width: 190px;
            height: 48px;
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            outline: none;
            border: none;
            border-radius: 5px;
            font-size: 22px;
            font-weight: 700;
            line-height: 25.78px;
            text-align: left;
            color: hsla(0, 0%, 100%, 1);
          }
        }
      }
    }
  }

  .shop-page-best-sellers {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 120px;
    margin-top: 80px;
    .shop-page-best-sellers-title {
      font-size: 46px;
      font-weight: 700;
      line-height: 69px;
      text-align: left;
    }

    .shop-page-best-sellers-items {
      display: flex;
      flex-wrap: wrap;
      gap: 40px;
    }
  }
}
